.swiper-wrapper {
    width: 100vw;
}

.image {
    width: -webkit-fill-available;
    z-index: -1;
    margin-bottom: -150px;
    mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
}

.swiper-button-prev {
    color: black;
}
.swiper-button-next {
    color: black;
}